{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
<h1><b>Change Password</b></h1>
    <div class="login-area">
        <div class="login-box change">
            <h1 style="padding: 0px">Change password here</h1>
            <form  class="login-form" method="POST">{% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" name="" value="Change Password" style="cursor: pointer;">

            </form>

        </div>

    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}