{% extends 'base.html' %}

{% block content %}

<h1>
   <b>Reset Password</b>
</h1>
<br>
    <div class="login-area">
        <div class="login-box" style="height: 280px">
            <h1 style="padding: 0px">Reset here</h1>
            <form  class="login-form" method="POST">{% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" name="" value="Send email" style="cursor: pointer;">

            </form>

        </div>

    </div>
{% endblock %}