{% load static %}

<header class="header-main">

    <div class="header-main-logo">
        <img src="{% static 'noteapp-logo.png' %}" alt="Logo">
    </div>


    <nav class="header-main-nav">



      <ul>

        <li>    <a href="/"> Home </a>   </li>

        {% if user.is_authenticated %}
        <li>    <a href="/notes/"> Notes </a>   </li>
        <li>    <a href="/users/detail"> Account  </a>  </li>
        <li>    <a class="login" href="/users/logout_user"> Log Out  </a>  </li>
        {% else %}
        <li>    <a class="login" href="/users/login_user"> Log In  </a>  </li>
        <li>    <a class="login" href="/users/register_user"> Register  </a>  </li>
        {% endif %}

      </ul>


    </nav>










</header>

